---


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<script src="https://cdn.tailwindcss.com"></script>

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			html,
			body {
				width: 100vw;
				height: 100vh;

				font-family: system-ui;
				margin: 0;
				background: #111111;
				color: #fff;
				padding: 0;
			}
		</style>

		<!-- Be sure to include AlpineJS -->
		<script src="//unpkg.com/alpinejs" defer></script>
	</head>
	<body>
			<nav class="grid grid-cols-2 items-center w-[100vw] h-[75px] px-[8%]">
			<div class="">
				<h1 class="font-black text-4xl">Astro App</h1>
			</div>
			<div class="flex justify-end">
				<div x-data="{ open: false }">
				<!--toggle button-->
    		<button class="relative px-8 py-3 bg-pink-500 rounded-md text-white/90 font-medium mb-2" @click="open = ! open">
				Toggle
				</button>
				<!==sidebar==>
 				<div class="text-black   bg-gray-200 shadow-lg top-0 right-0 text-center absolute z-50  w-[350px] h-full" x-show="open" @click.outside="open = false">
	      
				<h1 class="teqqssxt-3xl text-center font-black text-[#222]">Menu</h1>
				<p class="text-[#222}">contents and stuff</p>
			</div>
			</div>
			
</div>
</nav>
		<main class="grid grid-cols-1 h-full items-center">

			<!-- Note: no `client:load` necessary since AlpineJS is always included -->
	
				<h1 class="text-8xl font-bold text-center">Hello,<br> Astro + <br>AlpineJS!</h1>
	


		
		</main>

	</body>
</html>
